*.classpath
*.iml
*.ipr
*.iws
*.log
*.prefs
*.project
*~
.checkstyle
.settings/
target/  VB
model/src/main/java/META-INF/
utils/src/main/java/META-INF/
web-common/src/main/java/META-INF/
web-ks/src/main/webapp/META-INF/
web/src/main/webapp/META-INF/
ws-cxf-proxies/META-INF/
app/bin/
bin/
weblogic-domain/bin/
ws-cxf-proxies/bin/
 
